<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Sandbox</string>
			<key>Values</key>
			<array>
				<string>Production</string>
				<string>Sandbox</string>
			</array>
			<key>Key</key>
			<string>PushMode</string>
			<key>Title</key>
			<string>Push Mode</string>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Sandbox</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
