<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Bad egg</string>
	<string>I&apos;m going to wring his neck</string>
    <string>Cock and bull story</string>
    <string>Better an egg today than a hen tomorrow</string>
    <string>As happy as a rooster in a hen house</string>
    <string>Rule the Roost</string>
    <string>Playing chicken</string>
    <string>Ruffle your feathers</string>
    <string>Nothing but a mother hen</string>
    <string>Even a blind hen sometimes finds a grain</string>
    <string>Long long ago, when chickens had teeth... (once upon a time...)</string>
    <string>Walking on egg shells</string>
    <string>Have to break eggs to make an omelet</string>
    <string>You&apos;d rather put socks on a banty rooster than get on my bad side!</string>
    <string>Don&apos;t brood over it</string>
    <string>Run around like a chicken with its head cut off</string>
    <string>To chicken out</string>
    <string>I&apos;ll be on you faster than a chicken on a June bug</string>
    <string>A hen is only an egg&apos;s way of making another egg</string>
    <string>Madder than a wet hen</string>
    <string>Like a fox guarding the hen house</string>
    <string>Scratching out a living</string>
    <string>Don&apos;t get your hackles up</string>
    <string>Bantam weight (boxing term)</string>
    <string>The rooster may crow, but this hen lays the egg!</string>
    <string>A tough old bird</string>
    <string>Coming home to roost</string>
    <string>On Monday, even chickens don&apos;t work (Spanish proverb)</string>
    <string>A chicken in every pot (campaign slogan 1928)</string>
    <string>If you are born lucky, even your rooster will lay eggs</string>
    <string>One day, Cock of The Walk! Next day a feather duster</string>
    <string>Hen party (all women)</string>
    <string>The rooster makes all the noise, but the hen rules the roost!</string>
    <string>That guy could make chicken salad out of chicken poop!</string>
    <string>Scrambled eggs (gold trim on the brim of navy officers hats)</string>
    <string>Do the chickens have large talons? (Napoleon)</string>
    <string>As scarce as hen&apos;s teeth</string>
    <string>Pecking order</string>
    <string>Out there where the hoot owls &apos;get friendly&apos; with the chickens</string>
    <string>The rooster may crow but the hen delivers the goods</string>
    <string>A hen that struts like a rooster is often invited to dinner</string>
    <string>Feather our nests</string>
    <string>Something to crow about</string>
    <string>Don&apos;t count your chickens before they&apos;re hatched</string>
    <string>Cock-eyed</string>
    <string>Don&apos;t put all your eggs in one basket</string>
    <string>Has neither chick nor child</string>
    <string>Nest egg</string>
    <string>The rooster may rule the roost, but the hen rules the rooster!</string>
    <string>The cock may crow, but it&apos;s the hen who lays an egg</string>
    <string>The turtle lays thousands of eggs without anyone knowing, but when the hen lays an egg, the whole counry is informed</string>
    <string>Chicken scratch</string>
    <string>Cock sure</string>
    <string>Cockyegg money (a woman&apos;s personal funds, from selling eggs)</string>
    <string>Empty nest syndrome</string>
    <string>Cooped up</string>
    <string>Stick in your craw</string>
    <string>Don&apos;t cackle if you havent laid</string>
    <string>Fly the coop</string>
    <string>Sweatin&apos; like a hen drawing rails</string>
    <string>Feather your own nest</string>
    <string>Lets play chickenfoot! (dominoes game)</string>
    <string>Struttin&apos; your stuff</string>
    <string>Hen pecked</string>
    <string>To bed with the chickens</string>
</array>
</plist>
