<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>The mating dance performed by roosters is called ‘tidbitting’.  Females prefer roosters that frequently perform ‘tidbitting’ and also prefer larger, brighter combs.</string>
	<string>A ‘chicken’ is either a hen or rooster of the Gallus gallus domesticus subspecies of the Red Junglefowl.</string>
	<string>‘Broiler’ chickens are usually processed for selling when they are less than four months old.</string>
	<string>Don’t eat your chicken with a fork in Gainesville, Georgia unless you want to break the law.</string>
	<string>A layer can produce up to 300 eggs a year.</string>
	<string>Chickens outnumber humans by more than two to one.</string>
	<string>There are an estimated 19 billion chickens on the planet.</string>
	<string>China has both the most humans and the most chickens of any country in the world.</string>
	<string>'Alektorophobia' is the fear of chickens.</string>
	<string>Hens can mate and develop fertile eggs at any time because they don’t have an estrus cycle.</string>
	<string>Eggs that consist of egg white alone are called ‘no-yolkers’, ‘dwarf’ eggs or ‘wind’ eggs.</string>
	<string>If you keep chickens it comes as no surprise to you that chickens recognize individual people.</string>
	<string>We Americans eat 8 billion chickens in a year.</string>
	<string>Have you heard that a chicken can be hypnotized by holding it and repeatedly drawing a line in the dirt?</string>
	<string>Did you now that the chicken genome was sequenced in 2004 making it the first bird to be sequenced.</string>
	<string>The avian influenza (bird flu) is highly contagious and can kill off 90% to 100% of a flock in 48 hours time.</string>
	<string>A mother hen turns each egg about 50 times each day to prevent the yolk from sticking to the side of the shell.</string>
	<string>The female chicken is considered a ‘pullet’ until she begins laying eggs which on average is around twenty weeks old.</string>
	<string>Research indicates hens are emotionally sensitive to any hardships their chicks experience.</string>
	<string>Can you believe one chicken was kept alive for eighteen months without its head.</string>
	<string>Don’t wash your eggs until just before use because the eggshell has a natural protective coating that prevents bacteria from entering the egg.</string>
	<string>A hen may occasionally lay a shell-less egg, which is held together with only the thin membrane,  because it is released before the shell forms.</string>
	<string>A productive hen has several progressively developed eggs within her reproductive system. The egg develops as it progresses farther down the hens oviduct.</string>
	<string>China has over 3 billion chickens and over 1.3 billion humans (15% and 19% of world totals respectively).</string>
	<string>Could this be the answer to our energy needs?The waste produced by a chicken over the course of its lifetime can supply enough electricity to power a 100 watt bulb for five hours.</string>
	<string>Poultry pride is evident in these four American cities: Chicken, Alaska; Chicken Bristle, Illinois; Chicken Bristle, Kentucky; and Chicken Town, Pennsylvania.</string>
	<string>No problem eating fresh fertile eggs.  The embryos don’t start to develop until the eggs are in a warm environment such as under a setting hen or in an incubator.</string>
	<string>Did you know a broody hen will incubate eggs and raise chicks from other hens.</string>
	<string>It is not unusual for flockmates to favor the same nest box often competing for one nest box while the others sit vacant.</string>
	<string>The roosters ‘wattle’, the bit of dangly flesh below his beak, is believed to help him garner a hen’s attention when he performs his mating dance.</string>
	<string>It takes roughly 21 days for a fertilized egg to hatch from the beginning of incubation (not laying). </string>
	<string>Did you know one mating can fertilize numerous eggs because the sperm remains viable in the hen’s oviduct for several weeks?</string>
	<string>Be sure to crush your empty eggshells from the kitchen before offering them to your flock as a calcium supplement so as not to encourage egg-eating behavior.</string>
	<string>While a rooster is completely unnecessary for egg production he does provide the service of warning his hens about predators and seeking food for his girls.</string>
	<string>Egg freshness can be determined by submerging an egg in water.  The freshest eggs will stay at the bottom while older eggs float.</string>
	<string>The ‘chalazae’ are the short white twisted strands of albumen that anchor the yolk to the egg white.</string>
	<string>Clucking is a meaningful form of communication with different alarm calls used to identify the nature of the threat.</string>
	<string>Chickens, unlike small children, understand object permanence. They comprehend that when an object is taken away and hidden from them, it still exists.</string>
	<string>Can you believe a headless chicken can run the length of a football field before dropping dead?</string>
	<string>Practice makes perfect!  Young hens often lay malformed eggs until they get into a normal laying routine.</string>
	<string>The yolk is fertilized before the albumen (egg white) is deposited if sperm is present during egg production.</string>
	<string>Did you know a female chick is born with thousands of tiny ova, which are undeveloped yolks?</string>
	<string>Did you know the white disc-like structure on every egg yolk is called a blastoderm.  The blastoderm of a fertile egg has a ring instead of being solid white.</string>
	<string>Hens will lay eggs whether or not there is a rooster around.</string>
	<string>Eggshell production drains calcium from the hen’s body and must be replenished through diet.</string>
	<string>A stressed out chicken is prone to losing its feathers.</string>
	<string>Have you heard that the largest chicken egg ever laid weighed a pound and had a double yolk and shell.</string>
	<string>Talk about bad habits - some chickens habitually break eggs open and eat them.  These. Chickens need to be culled from the flock before the bad behavior spreads.</string>
	<string>Not all fertilized eggs hatch. In fact double yolk eggs rarely hatch due to crowding during development.</string>
	<string>Chickens make over 30 different types of calls ranging from predator alarms to good food announcements.</string>
	<string>A hen kept for egg laying purposes is referred to as a ‘layer’.</string>
	<string>Sweet dreams or nightmares?  Chickens exhibit rapid eye movement (REM) sleep.</string>
	<string>Have you heard that the number of chicken wings sold in ‘Hooters’ restaurants every year could circle the globe?</string>
	<string>Hens will often cluck in a celebratory way before, during or after laying an egg.  Who wouldn’t?</string>
	<string>Have you heard that the number of chickens eaten at KFC internationally (lined up head to claw) would circle the equator 11 times.</string>
	<string>A hen can reject a particular rooster’s offspring, usually one lower on the pecking order, by ejecting his sperm after mating.</string>
	<string>If you want your chickens to lay bigger stronger eggs try adjusting the coop light to create the illusion of 28 instead of 24 hour days.</string>
	<string>A young hen, less than one year old, is referred to as a ‘pullet’.</string>
	<string>The United States has roughly 450 million chickens and 316 million humans (2.2% and 4.5% of world totals respectively).</string>
	<string>Not to worry if a sitting hen leaves the nest to eat, drink or poop, the eggs will stay warm enough in her short absence.</string>
	<string>Roosters have a reputation for gallantry with their hens, often alerting them to good food and allowing them to eat first.</string>
	<string>It is typical for a hen’s laying cycle to be later everyday until the cycle reaches dusk when she will not lay until the following morning.</string>
	<string>A hen is considered retired when she is no longer producing eggs.</string>
	<string>A 'Turkin' is the result of cross breeding a chicken with a turkey.</string>
	<string>Rumor has it the longest recorded chicken flight is 301.5 feet.</string>
	<string>You wouldn’t say chickens have a sweet tooth.  They can’t taste sweetness and they don’t have teeth.</string>
	<string>Perhaps you have heard the elegant terms, “fart egg” and “oops egg”, for tiny eggs that quickly pass through the oviduct without reaching full size.</string>
	<string>Did you know a hen has only one exterior opening for egg laying and elimination yet the egg passes through without contact to waste matter because the intestinal opening closes off as the egg nears the end of the oviduct.</string>
	<string>The egg yolk provides nourishment and the albumen (egg white) provides cushioning to the developing chick embryo.</string>
	<string>You might try putting a fake egg in your nest box to encourage your hens to lay there instead of choosing a less convenient location.</string>
	<string>Have you heard the term ‘pecking order’?  It refers to the sophisticated social structure and dominance hierarchy in flocks.</string>
	<string>It takes approximately 25 hours for a hen to produce an egg so it comes as no surprise that a hen who is laying every day will lay a bit later each day.</string>
	<string>A ‘broiler’ is raised to be used for meat.</string>
	<string>Have you heard that chickens with red earlobes produce brown eggs?</string>
	<string>Have you heard that chickens with white earlobes produce white eggs?</string>
	<string>Have you heard that in the early 1900s hens laid an average of 100 eggs a year?</string>
	<string>A hen’s comb, wattles, legs and earlobes may fade if she is calcium deficient.</string>
	<string>A hen has to eat about four pounds of feed to produce a dozen eggs.</string>
	<string>A hen is referred to as ‘broody’ if she stops laying eggs in preparation for incubating them.</string>
	<string>Broodiness is the tendency of a hen to sit on a clutch of eggs to incubate them.</string>
	<string>The last step of the egg production process is depositing the shell pigment.</string>
	<string>If you want your flock to be less flighty in their midst, try walking backwards.</string>
	<string>It is believed that chickens were domesticated 10,000 years ago in Vietnam.</string>
	<string>Did you know chickens are omnivores, eating mostly seeds and insects but occasionally dining on small mice and lizards.</string>
	<string>A broody hen might resort to theft to complete her clutch of eggs, occasionally rolling another hens’ eggs into her nest.</string>
	<string>A narrow pelvis might account for a hens inability to ever lay eggs.</string>
	<string>Chickens can run at a speed of 9 mph which is faster than a 7 minute mile pace!</string>
	<string>A broody hen is not particular.  She will sit on any eggs weather or not they are fertile and regardless of who laid them.</string>
	<string>The Brits use the term ‘cockerel’ when referring to a male chicken less than one year old.</string>
	<string>Roughly 46% of chicken eaten in the United States comes from restaurants.</string>
	<string>Have you heard that roosters perform a special dance to woo a hen?</string>
	<string>Chickens have friendships and less cordial relationships within a flock.</string>
	<string>Rumor has it that seven is the world record for egg laying in one day by a single chicken.</string>
	<string>Hens tend to feed closer to the dominant rooster because of the protection he provides.</string>
	<string>Pullet eggs refer to the small eggs produced by young inexperienced hens.</string>
	<string>Would you believe that chickens were not originally domesticated for food but rather for the purpose of cockfights.</string>
	<string>Would you believe the closest living relative to tyrannosaurus-rex. Is the chicken?</string>
	<string>Rumor has it the greatest number of yolks found in a single chicken egg is nine!</string>
	<string>Rumor has it the longest recorded chicken flight is a mere 13 seconds.</string>
	<string>The world record for egg laying is 371, set by a White Leghorn in 1979.</string>
	<string>Don’t be surprised if your hens stop laying during molting or because of short winter days, temperature extremes, lack of water or general stress.</string>
	<string>Rumor has it the largest chicken egg weighed in at 12 ounces (3/4 of a pound) and measured 12.25 inches around.</string>
	<string>The occasional cannibalism due to an accidentally broken egg is nothing to worry about.</string>
	<string>Chickens are good about keeping a low sodium diet, they generally avoid salty food.</string>
	<string>It takes approximately 25 hours from the time an ovum is released for the yolk to grow, followed by the forming of the egg white which is then wrapped in a membrane and finally encased in a shell.</string>
</array>
</plist>
